blockquote {
	font-size: 20px;
}

p {
	font-size: 25px;
}

h1 {
	text-align: center;
}

.list {
	font-size: 25px;
}

a {
	font-size: 25px;
}

.table {
	/* border: 1px solid #000; */
	font-size: 35px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 5px;
	border-radius: 30px;
	background: rgb(160, 163, 172);
	border: 16px solid #ece9e0;

}

/* .table tr th {
	background-color: yellow;
} */

/* .table th {
	text-align: left;
	color: rgb(125, 10, 233);
	padding: 10px;
} */

.table td {
	/* border: 1px solid #000; */
	padding: 20px;
	background: rgb(61, 172, 165);
}

.table tfoot td {
	text-align: right;
}

.column {
	text-align: center;
}

td{
	background: rgb(61, 172, 165);
	padding: 20px;;
}